@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    background-color: #7EB2DD;
    color: #130e01;
    max-width: 650px;
    margin: 40px auto;
    font-size: 18px;
    line-height: 200%;
}

h1 {
    color: #445E93;
    margin-left: 20px;
}

div {
	border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: lightblue;
    padding: 40px;
    text-align: center;
}